@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: hsl(217, 19%, 35%);
    background-color: hsl(214, 17%, 51%);
    background-color: hsl(212, 23%, 69%);
    background-color: hsl(210, 46%, 95%);
}
ol, ul {
	list-style: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1440px;
    height: 100vh;
}
.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: #fff;
}
.preview-image {
    background-image: url('images/drawers.jpg');
    background-size: cover;
    width: 40%;
    height: 250px;
}

.preview-text {
    padding: 10px 30px 30px 30px;
    width: 60%;
}
.preview-text h1 {
    color: hsl(217, 19%, 35%);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}
.preview-text p {
    color: hsl(214, 17%, 51%);
    line-height: 20px;
    margin-bottom: 10px;
}
.preview-text .perfil {
    display: flex;
    align-items: center;
}
.perfil {
    margin-top: 20px;
}
.perfil-text {
    margin-left: 5%;
}
.perfil-text h2 {
    font-size: 1.2em;
    font-weight: 700;
}
.perfil .avatar img{
    border-radius: 50%;
    height: 50px;
}

.perfil-share {
    background-color: hsl(214, 17%, 51%);
    border-radius: 50%;
}
.perfil-share #shareButton {
    background: transparent;
    padding: 8px;
}

#shareIcons {
    display: none;
}